<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stompy">

 <gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/stompy</robotNamespace>
  </plugin>
  <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
    <alwaysOn>true</alwaysOn>
    <bodyName>body_link</bodyName>
    <topicName>imu/data</topicName>
    <serviceName>imu_service</serviceName>
    <gaussianNoise>0.0</gaussianNoise>
    <updateRate>20.0</updateRate>
  </plugin>
 </gazebo>

 <xacro:include filename="$(find stompy_description)/urdf/stompyleg_macro.urdf.xacro" />

 <link name="base_link" />
 <joint name="body" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="base_link" />
  <child link="body_link" />
 </joint>
 <link name="body_link">
    <inertial>
      <mass value="1823.41"/>
      <!--<origin rpy="0  0  0" xyz="0     0     1.495"/>-->
      <origin rpy="0  0  0" xyz="0     0     0"/>
      <inertia ixx="499.7" ixy="0.019" ixz="-172.0" iyy="3253.0" iyz="0.019" izz="3049.0"/>
    </inertial>
    <collision name="body_link_collision">
      <origin rpy="0  0  0" xyz="0     0     0"/>
      <geometry>
        <box size="4.478688 1.168400 0.304800"/>
      </geometry>
    </collision>
    <visual name="body_link_visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://stompy_description/meshes/body.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <!--
  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="1.5 0.25 0.75" rpy="0 0 0"/>
    <parent link="body_link"/>
    <child link="camera_link"/>
  </joint>

  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0. 0. 1.0"/>
      </material>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

 <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>2.5</horizontal_fov>
        <image>
          <width>800</width>
          <height>200</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>stompy/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  -->
  <xacro:leg name="fl" rpy="0 0 0.9599" xyz="2.2352  0.5842   -0.1000"/>
  <xacro:leg name="fr" rpy="0 0 -0.9599" xyz="2.2352 -0.5842   -0.1000"/>
  <xacro:leg name="ml" rpy="0 0 1.5706" xyz="0.0  0.6858   -0.1000"/>
  <xacro:leg name="mr" rpy="0 0 -1.5706" xyz="0.0 -0.6858   -0.1000"/>
  <xacro:leg name="rl" rpy="0 0 2.1816" xyz="-2.2352  0.5842  -0.1000"/>
  <xacro:leg name="rr" rpy="0 0 -2.1816" xyz="-2.2352 -0.5842  -0.1000"/>
</robot>
