<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stompyleg">
<!--
     build 1 leg and a fake body
 -->
 <gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/stompyleg</robotNamespace>
  </plugin>
 </gazebo>

 <xacro:include filename="$(find stompy_description)/urdf/stompyleg_macro.urdf.xacro" />

 <link name="stompyleg__base" />
 <joint name="stompyleg__base_to_body" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="stompyleg__base" />
  <child link="stompyleg__body" />
 </joint>

 <link name="stompyleg__body">
    <inertial>
      <mass value="1823.41"/>
      <!--<origin rpy="0  0  0" xyz="0     0     1.495"/>-->
      <origin rpy="0  0  0" xyz="0     0     0.7"/>
      <inertia ixx="499.7" ixy="0.019" ixz="-172.0" iyy="3253.0" iyz="0.019" izz="3049.0"/>
    </inertial>
    <collision name="stompyleg__collision">
      <!--<origin rpy="0  0  0" xyz="0     0     1.495"/>-->
      <origin rpy="0  0  0" xyz="0     0     0.7"/>
      <geometry>
        <box size="4.47037 1.3716 1."/>
      </geometry>
    </collision>
    <visual name="stompyleg__visual">
      <origin rpy="0  0  0" xyz="0  0  0.7"/>
      <geometry>
        <box size="4.47037 1.3716 1."/>
        <!--
        <mesh filename="package://stompy_description/meshes/body.stl" scale="1.0 1.0 1.0"/>
        -->
      </geometry>
    </visual>
  </link>

  <xacro:leg prefix="stompyleg__" name="fl" rpy="0 0 0" xyz="2.35117  0.5842   1.2"/>
  <!--
  <xacro:leg prefix="stompyleg__" name="fl" rpy="0 0 0.7853" xyz="2.35117  0.5842   1.2"/>
  <xacro:leg name="fr" rpy="0      0     -0.7853" xyz="2.35117 -0.5842   1"/>
  <xacro:leg name="ml" rpy="0      0      1.5706" xyz="0.11597  0.6858   1"/>
  <xacro:leg name="mr" rpy="0      0     -1.5706" xyz="0.11597 -0.6858   1"/>
  <xacro:leg name="rl" rpy="0      0      2.3561" xyz="-2.1192  0.5842  1"/>
  <xacro:leg name="rr" rpy="0      0     -2.3561" xyz="-2.1192 -0.5842  1"/>
  -->
</robot>
